#!/usr/bin/make -f
package	:=	manpages-zh
prefix	:=	$(shell pwd)/debian/$(package)
arch	:=	$(shell dpkg --print-architecture)

DESTDIR	:=	$(prefix)/usr/share
CONFDIR	:=	$(prefix)/etc

binary: u8 gb install

u8:u8-stamp
u8-stamp:
	dh_testdir
	dh_testroot
	$(MAKE) u8
	touch u8-stamp
gb:gb-stamp
gb-stamp:
	dh_testdir
	dh_testroot
	$(MAKE) gb
	touch gb-stamp
	
install:u8-stamp gb-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) DESTDIR=$(DESTDIR) install-u8
	$(MAKE) DESTDIR=$(DESTDIR) CONFDIR=$(CONFDIR) install-gb
	dh_installdirs
	dh_installdocs DOCS/* README*
	dh_installchangelogs
	cp -R debian/$(package)/* debian/tmp/
	dh_link
	dh_strip
	dh_compress --exclude=man.macros
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	
clean:
	dh_testdir
	dh_testroot
	dh_clean -k
	rm -f *-stamp
	make clean
	dh_clean
	rm -rf debian/$(package)
uninstall:
	dh_testdir
	dh_testroot
	dh_clean -k
	make DESTDIR=$(DESTDIR) CONFDIR=$(CONFDIR) uninstall
